@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=ABeeZee&display=swap");

html {
  font-family: "ABeeZee", sans-serif;
  font-size: 10px;
}

.app-container {
  max-width: 115.3rem;
  margin-right: 10rem;
  overflow: visible;
}

@media screen and (max-width: 768px) {
  .app-container {
    max-width: 100%;
    margin-right: 0;
    overflow: visible;
  }
}
