@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=ABeeZee&display=swap");

html {
  font-family: "ABeeZee", sans-serif;
  font-size: 10px;
  /* background-color: #4a4a4a !important; */
}

.app-container {
  max-width: 115.3rem;
  margin-right: 10rem;
  /* overflow: auto; */
}

@media screen and (max-width: 821px) {
  .app-container {
    max-width: 100%;
    margin-right: 0;
    overflow: visible;
  }
}

.app-container::-webkit-scrollbar {
  display: none !important;
}